*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  font-size: 1.2rem;
  color: #656262;
}

html,
body {
  height: 50;
  width: 100%;
}

body {
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    /* rgba(2, 0, 36, 1) 0%, */
    rgba(143, 187, 204, 1) 35%,
    rgb(95, 208, 230) 100%
  );
  /* background-color: rgb(223, 248, 240); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form_container {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.form_container > h2 {
  margin-block: 1rem;
  padding-block: 0.6rem;
  color: rgba(0, 212, 255, 1);
}

.form_container > form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form_container div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form_container input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
}

.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form_container button {
  background-color: rgba(0, 212, 255, 1);
  color: #fff;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

span a {
  text-decoration: none;
  color: rgba(0, 212, 255, 1);
}
label{
  padding:0 0 10px 0;
}
.home_page {
  height: 12vh;
  width: 100vw;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform:capitalize;
  font-size: 3rem;
  flex-direction: row;
  gap: 40rem;
}
.btn-grp{
  
  display: flex;
  gap: 1rem;
  color: #fff;
  cursor: pointer;
  padding: 1rem 2rem ;
  font-size: 1rem;
  border-radius: 2rem;
  transition: ease-in 0.3s;
  border: none;
}

.home_page span {
  color: rgba(0, 212, 255, 1);
}

.home_page button {
  background-color: rgb(27, 73, 83);
  color: #fff;
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  transition: ease-in 0.3s;
  border: none;
}

.home_page button:hover {
  background-color: rgba(0, 212, 255, 1);
}

.menu-grid{
  
  display: grid;
  flex-direction: row;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin:0 10px 10px 10px;
}
.card-menu {
  width: 100%; 
  background-color: rgba(250, 235, 215, 0.486);
  justify-items: center;
}
.cart-button {
  background-color: rgb(230, 143, 76);
  color: #fff;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: ease-in 0.3s;
  border: none;
}
.numquantity{
  width:auto ;
  border-radius: 20px;
}
@media only screen and (max-width: 1200px){
  .home_page{
    font-size: 1.5rem;
  }
  .home_page button {
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
  }
}
h2{
  color: #000;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}


.popup-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 20px;
  animation: fade-in 0.3s ease-out;
}


.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}


.popup-body label {
  display: block;
  margin: 5px 0 2px;
  font-weight: bold;
}
.popup-body input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.popup-body select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.update{
  background-color: rgb(29, 162, 118);
  color: #fff;
}
.delete{
  background-color: rgb(255, 99, 71);
  color: #fff;
}
.order{
  background-color: rgb(172, 105, 205);
  color: #fff;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
